$background-color: #F9FAF4;
$primary-color: #64A25C;
$primary-color-dark: #0B4705;
$primary-color-light: hsl(84, 37, 63);
$secondary-color: #F9E67C;
$secondary-color-dark: #E8C509;
$secondary-color-light: #F9FAE9;
$header-color: #1038AC;
$header-color-dark: #08267A;

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
